h1,body
{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body 
{
    color:white;
}
html 
{
    background-color: black;
}
a 
{
    color: black;
    background-color: yellowgreen;
    text-decoration: none;
}
img
{
    height:150px;
    width:150px;
}
.div-practice
{
    border:6px solid grey;
    padding:10px;

}

.div-practice img 
{
    border:2px solid grey; 
}
.div-practice p
{
    padding-top:10px;
    text-align: center; 
}
.Section-Part 
{
    background-color: grey;
    padding:50px;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: white;
  }
  input[type="password"] ,   input[type="text"]
  {
    color :beige;
    background-color: #29627e;
  }
  a:hover 
  {
    color:orange;
    background-color: white;
  }
  button 
  {
    color:black;
    background-color:white;
    border: none;
    border-radius: 2px;
    padding: 5px;
  }
  button:hover 
  {
    color:black;
    background-color:yellowgreen ;
    transition: 1s ease-in;
    cursor: pointer;
  }

  div.child:nth-of-type(2n)
  {
    background-color: aliceblue;
    color:black;
  }

  div.child:nth-of-type(3n) , div.child:first-of-type
  {
    background-color: grey;
    color:black;
  }

  div.child:first-of-type 
  {
    margin-top: 20px;
  }

  /* div.child::first-letter 
  {
    font-size: 30px;
    color:red;
  } */

  div.child::before , div.child::after
  {
    content: "*";
    color:blueviolet;
    font-weight: bold;
  }

  p.selector-example::first-line 
  {
    background-color: white;
    color:blueviolet;
    font-weight: bold;
  }
  
  p.selector-example::selection
  {
    background-color: #29627e;
  }